body {
	margin: 0px;
}

#firefly {
	width:4px;
	height:4px;
	position:absolute;
	background-color: gold;
	box-shadow:0px 0px 17px 2px wheat;
	border-radius: 50%;
}

#nighttimeForestBackground {
	background-image: url("../images/misty.forest.night.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

